@import "mixin";
@import "variables";
@import "reset";

/* layouts */
.l-box__allMid {
  @include allMidBox();
}

// 横向盒子且垂直居中
.l-box__rowMid {
  @include rowMidBox();
}

// 竖向盒子且水平居中
.l-box__verMid {
  @include colMidBox();
}

// 横向排列item的盒子
.l-box__row{
  @include rowBox();
}

// 纵向排列item的盒子
.l-box__ver{
  @include colBox();
}

/* padding & margin*/
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}

.pr40{padding-right: 40px;}
.pr30{padding-right: 30px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pr15{padding-right: 15px;}

.pt5{padding-top: 5px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}

.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}

.ml5{margin-left: 5px;}
.ml20{margin-left: 20px;}
.ml10{margin-left: 10px;}
.ml14{margin-left: 14px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.ml60{margin-left: 60px;}

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr30{margin-right: 30px;}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt20{margin-top:20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt14{margin-top: 14px;}
.mt15{margin-top: 15px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mt80{margin-top: 80px;}

.mb15{margin-bottom: 15px;}
.mb14{margin-bottom: 14px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb60{margin-bottom: 60px;}
.mb150{margin-bottom: 150px;}

/* font */
.t1{
  font-size: $T_H4;
}
.t2{
  font-size: $T_H5;
}
.t3{
  font-size: $T_H6;
}
.t4{
  font-size: $T_Subtitle1;
}
.t5{
  font-size: $T_Subtitle2;
}

.t_light {
  font-weight: 300;
}

.t_normal {
  font-weight: 400;
}

.t_bold {
  font-weight: 600;
}

@for $i from 1 through 5 {
  .t#{$i}{
    &-c1{
      @extend .t#{$i};
      color: $fontClr_1st;
    }
    &-c2{
      @extend .t#{$i};
      color: $fontClr_2nd;
    }
    &-c3{
      @extend .t#{$i};
      color: $fontClr_3rd;
    }
    @for $j from 1 through 3 {
      &-c#{$j}{
        &__light{
          @extend .t#{$i}-c#{$j};
          @extend .t_light
        }
        &__normal{
          @extend .t#{$i}-c#{$j};
          @extend .t_normal
        }
        &__bold{
          @extend .t#{$i}-c#{$j};
          @extend .t_bold
        }
      }
    }
  }
}

