@import "mixin";
@import "variables";
@import "reset";

/* layouts */
.l-box__allMid {
  @include allMidBox();
}

// 横向盒子且垂直居中
.l-box__rowMid {
  @include rowMidBox();
}

// 竖向盒子且水平居中
.l-box__verMid {
  @include colMidBox();
}

// 横向排列item的盒子
.l-box__row{
  @include rowBox();
}

// 纵向排列item的盒子
.l-box__ver{
  @include colBox();
}

/* padding & margin*/
@for $i from 1 through 12 {
  .pd#{$i*5} {padding: #{$i*5}px;}
  .pl#{$i*5} {padding-left: #{$i*5}px;}
  .pr#{$i*5} {padding-right: #{$i*5}px;}
  .pt#{$i*5} {padding-top: #{$i*5}px;}
  .pb#{$i*5} {padding-bottom: #{$i*5}px;}

  .mg#{$i*5} {margin: #{$i*5}px;}
  .ml#{$i*5} {margin-left: #{$i*5}px;}
  .mr#{$i*5} {margin-right: #{$i*5}px;}
  .mt#{$i*5} {margin-top: #{$i*5}px;}
  .mb#{$i*5} {margin-bottom: #{$i*5}px;}
}

/* font */
.t1{
  font-size: $T_H4;
}
.t2{
  font-size: $T_H5;
}
.t3{
  font-size: $T_H6;
}
.t4{
  font-size: $T_Subtitle1;
}
.t5{
  font-size: $T_Subtitle2;
}

.t_light {
  font-weight: 300;
}

.t_normal {
  font-weight: 400;
}

.t_bold {
  font-weight: 600;
}

@for $i from 1 through 5 {
  .t#{$i}{
    &-c1{
      @extend .t#{$i};
      color: $fontClr_1st;
    }
    &-c2{
      @extend .t#{$i};
      color: $fontClr_2nd;
    }
    &-c3{
      @extend .t#{$i};
      color: $fontClr_3rd;
    }
    @for $j from 1 through 3 {
      &-c#{$j}{
        &__light{
          @extend .t#{$i}-c#{$j};
          @extend .t_light
        }
        &__normal{
          @extend .t#{$i}-c#{$j};
          @extend .t_normal
        }
        &__bold{
          @extend .t#{$i}-c#{$j};
          @extend .t_bold
        }
      }
    }
  }
}

/* devide line */
.lineC1{
  color: $C_DevideLine1st;
}
.lineC2{
  color: $C_DevideLine2nd;
}
.lineC3{
  color: $C_DevideLine3rd;
}

.lineS1{
  height: $Size_DevideLine_light;
  border: none;
  border-top-style: solid;
  border-top-width: $Size_DevideLine_light;
}
.lineS2{
  height: $Size_DevideLine_normal;
  border: none;
  border-top-style: solid;
  border-top-width: $Size_DevideLine_normal;
}
.lineS3{
  height: $Size_DevideLine_bold;
  border: none;
  border-top-style: solid;
  border-top-width: $Size_DevideLine_bold;
}
.lineS4{
  height: $Size_DevideLine_bolder;
  border: none;
  border-top-style: solid;
  border-top-width: $Size_DevideLine_bolder;
}

.line{
  @for $i from 1 through 3 {
    @for $j from 1 through 4 {
      &-c#{$i}__s#{$j} {
        display: block;
        width: 100%;
        @extend .lineC#{$i};
        @extend .lineS#{$j};
      }
    }
  }
}


/*width & height*/
@for $i from 1 to 10 {
  .w#{$i} {
    width: #{$i}rem;
  }
  .h#{$i} {
    height: #{$i}rem;
  }
  .wh#{$i} {
    width: #{$i}rem;
    height: #{$i}rem;
  }
}