/**
* 主色调&字体规范
**/

$C_Primary: #6200EE;
$C_Primary_Variant: #3700b3;
$C_Primary_Variant_2: #BB86FC;
$C_Secondary: #03DAC6;
$C_Secondary_Variant: #018786;
$C_Background: #FFFFFF;
$C_Surface: #FFFFFF;
$C_Error: #C51162;
$C_Border: #D3D3D3;

$fontClr_1st: #000000; // 一级提示
$fontClr_2nd: rgba(0,0,0,.6); // 二级提示
$fontClr_3rd: rgba(0,0,0,.38); // 三级提示

$T_H1: 96px;
$T_H2: 60px;
$T_H3: 48px;
$T_H4: 34px;
$T_H5: 24px;
$T_H6: 20px;
$T_Subtitle1: 16px;
$T_Subtitle2: 14px;
$T_Body1: 16px;
$T_Body2: 14px;
$T_Button: 14px;

